################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjetCantine/obj/Debug
/ProjetCantine/bin
/.vs
/Facture
